body {
	margin: 0px;
}

h1 {
	background-image:background-image: url(http://www.example.com/bck.png);
	color: black;
	font-size: 50px;
	text-align: center;
}

.header-photo img {
	width: 100%;
}

h2 {
	color: black;
	font-size: 40px
}

p {
	color:white ;
	font-size: 20px
}
#Title {
	background-color:#B9A4AA;
}

#projects {
	background-color:#A48F90
}

#social-media {
	background-color: red;
}